.customer-name-input {
    width: 400px;
    height: 30px;
    margin: 10px;
    border-radius: 2px;
}

.customer-email-input {
    width: 400px;
    height: 30px;
    margin: 10px;
    border-radius: 2px;
}

.customer-name-label {
    font-weight: bold;
}

.customer-email-label {
    font-weight: bold;
}

@media screen and (max-width:420px){

    .customer-name-input {
        width: 340px;
        height: 30px;
    }

    .customer-email-input {
        width: 340px;
        height: 30px;
    }
}
