.invoice-date-label{
      float:left;
      font-weight: bold;
}

.invoice-date-input {
    height: 30px;
    border-radius: 2px;
    padding-right: 280px;
    margin-left: 20px;
}

.date-information {
  display:inline-block;
  width: 500px;
  height: 30px;
}

@media screen and (max-width:420px){
    .invoice-date-label{
          float:none;
          font-weight: bold;
    }
    .invoice-date-input {
        height: 30px;
        padding-right: 70px;
    }

}
