.invoice-date-label{
      float:left;
      font-weight: bold;
}

.invoice-date-input {
    height: 30px;
    border-radius: 2px;
    padding-right: 270px;
    margin-left: 20px;
}

.date-information {
    display:inline-block;
    width: 540px;
    height: 30px;
}

@media screen and (max-width:420px){
    .invoice-date-label{
          font-weight: bold;
          margin-left: 160px;
          text-align: center;
    }
    .invoice-date-input {
          width: 200px;
          height: 30px;
          padding-left: 10px;
    }

}
