.line-description-input{
    width: 400px;
    height: 25px;
    margin-top: 10px;
    margin-left: -88px;
    float: left;
}

.line-amount-input{
    width: 200px;
    height: 25px;
    margin-top: 10px;
    margin-left: -110px;
}

.line-items-input{
    margin-left: 520px;
}

@media screen and (max-width:1200px){
  .line-description-input{
      width: 40%;
      border-radius: 2px;
  }
  .line-amount-input{
      width: 30%;
      margin-left: 40px;
      border-radius: 2px;
  }
  .line-items-input{
      margin-left: 200px;
  }
  }

  @media screen and (max-width:420px){
    .line-description-input{
        width: 50%;
        float: none;
    }
    .line-amount-input{
        width: 30%;
        margin-left: 40px;
    }
    .line-items-input{
        margin-left: 130px;
    }
  }
