.line-description-input{
    width: 400px;
    height: 25px;
    margin-top: 10px;
    float:left;
    margin-left: -88px;
}

.line-amount-input{
    width: 200px;
    height: 25px;
    margin-top: 10px;
    margin-left: -110px;
}

@media screen and (max-width:430px){
  .line-description-input{
      width: 30%;
  }
  .line-amount-input{
      width: 30%;
      margin-left: 40px;
  }
}
