
.line-items-label-container{
  margin-top: 10px;
}

.description-label {
    font-weight: bold;
    float:left;
    margin-left: 30%;
    padding-top: 10px;
}

.amount-label {
    font-weight: bold;
    margin-left: 10%;
    padding-top: 30px;
}

.invoice-add-button{
    height: 25px;
    width: 25px;
    background-color: #4CAF50;
    margin-top: 10px;
    left: 30%;
    position:absolute;
}

@media screen and (max-width:1200px){
    .description-label {
        margin-left: 10%;
    }
    .amount-label {
        margin-left: 7%;
    }
    .invoice-add-button{
        left: 10%;
    }
  }

  @media screen and (max-width:850px){
      .description-label {
          margin-left: 14%;
      }
    }

  @media screen and (max-width:420px){
    .description-label {
        margin-left: 10%;
        float:none;
    }
    .amount-label {
        margin-left: 30px;;
    }
  }
